@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,400;12..96,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;

}

.main-box {
    width: 70%;
    height: auto;
    margin: 2rem auto;
    padding: 1.5rem;
    align-items: center;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 0.5rem;
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
}

.list-box{
    width: 100%;
    height: auto;
    padding: 1.5rem;
    border: 1px solid rgb(188, 180, 180);
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-side-box{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

}

.name-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.3rem;
}

.name {
    cursor: pointer;
    color: rgb(39, 39, 39);
    font-size: 1.2rem;
    
}


.email {
    cursor: pointer;
    color: rgb(101, 101, 101);
    font-size: 0.8rem;
    
}

.name:hover {
    text-decoration: underline;
}

.email:hover {
    text-decoration: underline;
}

.right-side-box{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
    position: relative;
}

.title-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 0.3rem;

}

.title-box p{
    color: rgb(101, 101, 101);
    font-size: 0.8rem;
}

.title-box h4{
    font-size: 0.9rem;
}

.icon-container{
    height: auto;
    cursor: pointer;
}

.icon {
    align-items: center;
    cursor: pointer;
}


.fly-in-menu{
    background-color: rgb(243, 243, 243);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 10rem;
    margin-left: 0.1rem;
    border-radius: 0.4rem;
    border: 1px solid wheat;
    position: absolute;
    visibility: hidden;
}

.fly-in-menu-new{
    width: 120%;
    background-color: rgb(243, 243, 243);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 8rem;
    margin-left: 0.1rem;
    border-radius: 0.4rem;
    box-shadow: 1px 2px 25px 2px rgba(56, 56, 56, 0.13);
    border: 1px solid rgb(215, 215, 215);
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
    position: absolute;
    visibility: visible;
}

.fly-in-menu2{
    background-color: rgb(243, 243, 243);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 10rem;
    margin-left: 0.1rem;
    border-radius: 0.4rem;
    border: 1px solid wheat;
    position: absolute;
    visibility: hidden;
}


.fly-in-menu-new2{
    width: 120%;
    background-color: rgb(243, 243, 243);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 50rem;
    margin-left: 0.1rem;
    border-radius: 0.4rem;
    box-shadow: 1px 2px 25px 2px rgba(56, 56, 56, 0.13);
    border: 1px solid rgb(215, 215, 215);
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
    position: absolute;
    visibility: visible;
}

.details {
    cursor: pointer;
}

.details:hover {
    text-decoration: underline;
}

.profile {
    cursor: pointer;
}

.profile:hover {
    text-decoration: underline;
}


.profile-img {
    width: 48px;
    height: 48px;
}

.profile-pic {
    width: 100%;
    border-radius: 22rem;
}