@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,400;12..96,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;

}

.main-box {
    width: 70%;
    height: auto;
    margin: 2rem auto;
    padding: 1.5rem;
    align-items: center;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 0.5rem;
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.list-box{
    width: 100%;
    height: auto;
    padding: 1.5rem;
    border: 1px solid rgb(188, 180, 180);
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-side-box{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

}

.name-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.3rem;
}

.name {
    cursor: pointer;
    color: rgb(39, 39, 39);
    font-size: 1.2rem;
}


.email {
    cursor: pointer;
    color: rgb(101, 101, 101);
    font-size: 0.8rem;
}


.right-side-box{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
    position: relative;
}

.title-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 0.3rem;

}

.icon-container{
    height: auto;

}

.fa-solid fa-ellipsis-vertical {
    align-items: center;

}

.fly-in-menu{
    background-color: rgb(243, 243, 243);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 2rem;
    position: absolute;
    
    
}

.details {
    cursor: pointer;
}

.profile {
    ursor: pointer;
}

.profile-img {
    width: 48px;
    height: 48px;
}

.profile-pic {
    width: 100%;
    border-radius: 22rem;
}